.square {
  width: 30px;
  height: 30px;
  border: 1px solid #d1cdcd;
  background-color: white;
}
.ship-1 {
  background-color: #cecb36;
}
.ship-2 {
  background-color: #007bff;
}

.ship-3 {
  background-color: #28a745;
}

.ship-4 {
  background-color: #dc3545;
}

.ship-5 {
  background-color: #21c2d7;
}

.board {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
  gap: 1px;
}
.ship-selector {
  display: grid;
  margin: 10px;
  gap: 8px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: start;
}

/* Nuevos estilos para el selector de tipo de barco y el selector de orientación */
.ship-selector-container {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 20px;
}

/* Estilos para los botones del selector de tipo de barco */
.ship-selector button {
  padding: 7px 20px;
  font-size: 16px;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;

}



/* Estilos para los botones del selector de orientación */
.orientation-selector {
  display: grid;
  margin: 10px;
  gap: 8px;
}
.orientation-selector button {
  padding: 7px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.orientation-selector button:hover {
  background-color: #0056b3;
}
.reset {
  display: flex;
  cursor: pointer;
  border: none;
  outline: none;
  justify-content: center;
}
/* Resto de estilos existentes... */
